[user]
        email = petrsum@gmail.com
        name = Ilya Shpigor

[receive]
        denyCurrentBranch = ignore

[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[core]
	eol = lf
	editor = vim
#	autocrlf = true
