[Desktop Entry]
Icon=video-x-msvideo
Name=l2 2012-12-21 10-30-45-84.avi
Type=Link
URL[$e]=file://$HOME/Projects/video/l2bot/video/l2%202012-12-21%2010-30-45-84.avi
X-KDE-LastOpenedWith=kdenlive
