[Desktop Entry]
Icon=video-x-flv
Name=oliver-kiev2010.flv
Type=Link
URL[$e]=file://$HOME/Videos/Rolls/slalom/oliver-kiev2010.flv
X-KDE-LastOpenedWith=kdenlive
